body{
  background-color: aquamarine;
  margin: 0px;
}
.navhead{
  background-color: black;
  margin-left: 10rem;
  margin-top: 15rem;
  width : 20rem;
  height: 100%;
}
.image{
  font-size: 32px;
  margin-top: 3rem;
}
.image a{
  display: block;
  margin: 2rem;
}
.data{
  margin-top: 5rem;
}

.data a{
  font-size: 32px;
  margin: 2rem;
  display: block;
}

.content{
  background-color: chocolate;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
